.contact-form {
    &__title {
        margin-bottom: 25px;
    }

    &__fields {
        gap: 33px;

        @include media-breakpoint-down(lg) {
            gap: 12px;
        }
    }

    &__field {
        .form-textarea {
            height: 229px;
            resize: none;

            @include media-breakpoint-down(lg) {
                height: 120px;
            }
        }
    }
}
