-
    const bannerSlides = [
        'banner-slide-1.png',
        'banner-slide-2.png',
        'banner-slide-3.png',
    ]

- 
    const smallBannerSlides = [
        'banner-slide-noword-1.png',
        'banner-slide-noword-2.png',
        'banner-slide-noword-3.png',
    ]
