- 
    const basketBreadcrumbItems = [
        {content: 'Home', href: 'index.html'},
        {content: 'Giỏ hàng'}
    ]
-
    const basketColNames = [
        'Hình ảnh',
        'Tên sản phẩm',
        'Đơn giá',
        'Số lượng',
        'Thành viên',
        'Xóa',
    ]
-
    const basketRows = [
        {
            img: 'spx2-1.png',
            name: 'Cây văn phòng',
            price: '270.000 đ',
            amount: 1,
            total: '270.000 đ',
        },
        {
            img: 'spx2-1.png',
            name: 'Cây văn phòng',
            price: '270.000 đ',
            amount: 1,
            total: '270.000 đ',
        },
        {
            img: 'spx2-1.png',
            name: 'Cây văn phòng',
            price: '270.000 đ',
            amount: 1,
            total: '270.000 đ',
        },
    ]
