-
    const bestSellerProducts = [
        {
            img: {
                name: 'spx2-4.png',
                alt: 'Cây chân chim'
            },
            title: 'Cây chân chim',
            stars: 4.5,
            price: {
                now: '250.000 đ',
            },
        },
        {
            img: {
                name: 'spx2-5.png',
                alt: 'Cây Dạ Lam'
            },
            title: 'Cây Dạ Lam',
            stars: 4.5,
            price: {
                now: '150.000 đ',
            },
        },
        {
            img: {
                name: 'spx2-15.png',
                alt: 'Cây Danh Dự'
            },
            title: 'Cây Danh Dự',
            stars: 4.5,
            price: {
                now: '450.000 đ',
            },
        },
        {
            img: {
                name: 'spx2-12.png',
                alt: 'Cây đa búp cỏ'
            },
            title: 'Cây đa búp cỏ',
            stars: 4.5,
            price: {
                now: '200.000 đ',
            },
        },
                {
            img: {
                name: 'spx2-11.png',
                alt: 'Cây cọ ta'
            },
            title: 'Cây cọ ta',
            stars: 4.5,
            price: {
                now: '300.000 đ',
            },
        },
        {
            img: {
                name: 'spx2-6.png',
                alt: 'Cây dứa nhỏ'
            },
            title: 'Cây dứa nhỏ',
            stars: 4.5,
            price: {
                now: '275.000 đ',
            },
        },
    ]
