-
    const comments = [
        {
            username: 'Nguyễn Văn An',
            content: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.",
            time: 'Thứ 7, 26/12/2015 12: 00 AM',
            comments: [
                {
                    username: 'Nguyễn Văn Bình',
                    content: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.",
                    time: 'Thứ 7, 26/12/2015 12: 00 AM'
                },
            ],
        },
        {
            username: 'Nguyễn Văn Chiến',
            content: "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.",
            time: 'Thứ 7, 26/12/2015 12: 00 AM'
        },
    ]
