-
    const contactFields = [
        {
            name: 'fullname',
            type: 'text',
            label: 'Họ và tên',
        },
        {
            name: 'email',
            type: 'email',
            label: 'Địa chỉ email',
        },
        {
            name: 'phonenumber',
            type: 'phonenumber',
            label: 'Số điện thoại',
        },
    ]
