- 
    const footerLinksItems = [
        {
            title: 'Thông tin khách hàng',
            links: [
                {
                    href: '#',
                    content: 'Tài khoản của tôi',
                },
                {
                    href: '#',
                    content: 'Sản phẩm yêu thích',
                },
                {
                    href: '#',
                    content: 'Lịch sử mua hàng',
                },
                {
                    href: '#',
                    content: 'Chính sách đổi trả',
                },
                {
                    href: '#',
                    content: 'Góp ý khiếu nại',
                },
            ]
        },
        {
            title: 'Hỗ trợ dịch vụ',
            links: [
                {
                    href: '#',
                    content: 'Hệ thống cửa hàng',
                },
                {
                    href: '#',
                    content: 'Hướng dẫn mua hàng',
                },
                {
                    href: '#',
                    content: 'Hướng dẫn thanh toán',
                },
                {
                    href: '#',
                    content: 'Tích điểm đổi quà',
                },
                {
                    href: '#',
                    content: 'Câu hỏi thường gặp',
                },
            ]
        },
        {
            title: 'Chính sách ưu đãi',
            links: [
                {
                    href: '#',
                    content: 'Chính sách giao hàng',
                },
                {
                    href: '#',
                    content: 'Chính sách đổi trả sản phẩm',
                },
                {
                    href: '#',
                    content: 'Chính sách bảo hành',
                },
                {
                    href: '#',
                    content: 'Giới thiệu sản phẩm mới',
                },
                {
                    href: '#',
                    content: 'Chính sách trả góp',
                },
            ]
        },
        {
            title: 'Tin tức',
            links: [
                {
                    href: '#',
                    content: 'Tin mới',
                },
                {
                    href: '#',
                    content: 'Khuyến mại',
                },
                {
                    href: '#',
                    content: 'Tuyển dụng',
                },
                {
                    href: '#',
                    content: 'Download',
                },
                {
                    href: '#',
                    content: 'Tags',
                },
            ]
        }
    ]

- 
    const bottomLinks = [
        {
            content: 'Sitemap',
            href: '#',
        },
        {
            content: 'Danh mục sản phẩm',
            href: '#',
        },
        {
            content: 'Hợp tác',
            href: '#',
        },
        {
            content: 'Thông tin liên hệ',
            href: '#',
        },
        {
            content: 'Câu hỏi thường gặp',
            href: '#',
        },
    ]

-
    const credits = [
        {
            href: '#',
            icon: 'fa-brands fa-cc-visa',
        },
        {
            href: '#',
            icon: 'fa-brands fa-cc-mastercard',
        },
        {
            href: '#',
            icon: 'fa-brands fa-cc-paypal',
        },
        {
            href: '#',
            icon: 'fa-brands fa-cc-discover',
        }
    ]
