- 
    const mediaIcons = [
        'fa-brands fa-facebook-f',
        'fa-brands fa-twitter',
        'fa-brands fa-tumblr',
        'fa-brands fa-vimeo-v',
    ]

-
    const headerBtns = [
        {
            icon: 'fa-solid fa-user',
            content: 'Đăng nhập',
            border: 'border-top-0 border-bottom-0',
            href: '#',
        },
        {
            icon: 'fa-solid fa-user-plus',
            content: 'Đăng ký',
            border: 'border-top-0 border-bottom-0 border-start-0',
            href: '#',
        },
    ]

-
    const menuItems = [
        {href: "index.html", content: "Trang chủ"},
        {href: "#", content: "Giới thiệu"},
        {href: "grid-products-list.html", content: "Sản phẩm", hasIcon: true},
        {href: "#", content: "Sản phẩm mới", hasIcon: true},
        {href: "news-list.html", content: "Tin tức"},
        {href: "#", content: "Liên hệ"},
    ]
