-
    const forms = [
        {
            action: "",
            label: "Sắp xếp theo",
            selectName: "filter",
            options: [
                {
                    value: "product-name",
                    content: "Tên sản phẩm",
                },
                {
                    value: "product-price",
                    content: "Giá sản phẩm",
                },
            ]
        },
        {
            action: "",
            label: "Show",
            selectName: "display",
            options: [
                {
                    value: "15",
                    content: "15",
                },
                {
                    value: "20",
                    content: "20",
                },
            ]
        },
    ]
