-
    const shareMedias = [
        {
            textClass: 'medias-share__text--facebook display-12px',
            textContent: 'Like',
            iconClass: 'medias-share__icon--facebook bg-white position-relative',
            icon: 'fa-brands fa-facebook-f position-absolute bottom-0',
            number: 0,
        },
        {
            textClass: 'medias-share__text--twitter display-11px bg-electric-blue',
            textContent: 'Tweet',
            iconClass: '.medias-share__icon--twitter text-white d-flex',
            icon: 'fa-brands fa-twitter',
            number: 0,
        },
        {
            textClass: 'medias-share__text--google display-10px text-cinnabar border border-1 border-light-gray',
            textContent: '1',
            textContentClass: 'text-cinnabar',
            iconClass: 'medias-share__icon--google',
            icon: 'fa-brands fa-google-plus-g',
            number: 0,
        }
    ]
