- 
    const newProducts = [
        {
            img: {
                name: 'spx2-15.png',
                alt: 'Cây Danh Dự',
                hasHover: true,
            },
            title: 'Cây Danh Dự',
            stars: 4.5,
            price: {
                now: '475.000 đ',
                pre: '250.000 đ'
            },
            tag: {
                content: 'New',
                color: 'md-sea-green'
            },
        },
        {
            img: {
                name: 'spx2-7.png',
                alt: 'Cây xương rồng',
                hasHover: true,
            },
            title: 'Cây xương rồng',
            stars: 4.5,
            price: {
                now: '250.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-12.png',
                alt: 'Cây Dạ Lam',
                hasHover: true,
            },
            title: 'Cây Dạ Lam',
            stars: 4.5,
            price: {
                now: '250.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-12.png',
                alt: 'Cây dứa nhỏ',
                hasHover: true,
            },
            title: 'Cây dứa nhỏ',
            stars: 4.5,
            price: {
                now: '258.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-1.png',
                alt: 'Cây Danh Dự',
                hasHover: true,
            },
            title: 'Cây Danh Dự',
            stars: 4.5,
            price: {
                now: '680.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-5.png',
                alt: 'Cây Dạ Lam',
                hasHover: true,
            },
            title: 'Cây Dạ Lam',
            stars: 4.5,
            price: {
                now: '880.000 đ',
                pre: '250.000 đ'
            },
        },      
        {
            img: {
                name: 'spx2-2.png',
                alt: 'Cây chân chim',
                hasHover: true,
            },
            title: 'Cây chân chim',
            stars: 4.5,
            price: {
                now: '750.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-14.png',
                alt: 'Cây đa búp đỏ',
                hasHover: true,
            },
            title: 'Cây đa búp đỏ',
            stars: 4.5,
            price: {
                now: '150.000 đ',
                pre: '250.000 đ'
            },
        },
    ]
