-
    const news = [
        {
            thumbnail: 'news-1.png',
            time: 'Thứ 7 ,ngày 31, tháng 12, năm 2015',
            title: '15 thiết kế phòng ngủ tuyệt đẹp làm vạn người mê',
            content: 'Cùng Sài Gòn Hoa tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng hiện nay nhé ! Kết hợp hàng rào',
        },
        {
            thumbnail: 'news-2.png',
            time: 'Thứ 7 ,ngày 31, tháng 12, năm 2015',
            title: 'Tạo Tiểu Cảnh Góc Sân Cho Nhà Phố, Biệt Thự Đẹp',
            content: 'Khi bước từ ngoài ngõ vào hay từ trong nhà đi ra, góc sân luôn là điểm nhìn đầu tiên của chúng ta.',
        },
        {
            thumbnail: 'news-3.png',
            time: 'Thứ 7 ,ngày 31, tháng 12, năm 2015',
            title: 'Cách bố trí hoa chậu trước cửa ấn tượng',
            content: 'Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa',
        },
    ]
