-
    const featuredNewsList = [
        {
            img: 'news-list-0.png',
            href: '#',
            title: 'Hướng dẫn lựa chọn và bố trí cây xanh trong phòng khách',
        },
        {
            img: 'news-list-1.png',
            href: '#',
            title: 'Những sai lầm nên tránh khi bố trí cây xanh trong nhà',
        },
        {
            img: 'news-list-2.png',
            href: '#',
            title: '7 loại cây xanh để bàn đang được giới văn phòng ưa chuộng',
        },
        {
            img: 'news-list-3.png',
            href: '#',
            title: 'Hướng dẫn lựa chọn cây cảnh trang trí trong văn phòng',
        },
        {
            img: 'news-list-4.png',
            href: '#',
            title: '4 loại cây cảnh thích hợp bày trí ở khu vực đại sảnh',
        },
    ]
-
    const blogTags = [
        {
            content: 'Cây văn phòng',
            href: '#',
        },
        {
            content: 'Cây phát lộc',
            href: '#',
        },
        {
            content: 'Cây xanh',
            href: '#',
        },
        {
            content: 'Cây trang trí',
            href: '#',
        },
        {
            content: 'Cây',
            href: '#',
        },
        {
            content: 'Plants',
            href: '#',
        },
        {
            content: 'Sức khỏe',
            href: '#',
        },
        {
            content: 'Quà tặng',
            href: '#',
        },
        {
            content: 'Lưu niệm',
            href: '#',
        },
    ]
