-
    const newsListBreadcrumbItems = [
        {
            content: 'Home',
            href: 'index.html',
        },
        {
            content: 'Tin tức',
        },
    ]
-
    const newsList = [
        {
            title: 'Cách bố trí hoa chậu trước cửa ấn tượng ngay lần đầu tiên',
            date: '20/12/2015',
            time: '11:20:00 AM',
            comments: 0,
            img: 'news-list-5.png',
            description: 'Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa nhà luôn được đầu tư và trang trí khá bắt mắt. Cũng có thể nói đây là bộ mặt của ngôi nhà, là ấn tượng đầu tiên khi một vị khách ghé chơi nhà bạn đấy. Hãy cùng Sài Gòn Hoa tham khảo một vài cách bố trí chậu cây hoa cảnh ngay trước cửa nhà sao cho ấn tượng nhất nhé!',
        },
        {
            title: 'Hướng dẫn lựa chọn và bố trí cây xanh trong phòng khách',
            date: '20/12/2015',
            time: '11:20:00 AM',
            comments: 0,
            img: 'news-list-3.png',
            description: 'Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa nhà luôn được đầu tư và trang trí khá bắt mắt. Cũng có thể nói đây là bộ mặt của ngôi nhà, là ấn tượng đầu tiên khi một vị khách ghé chơi nhà bạn đấy. Hãy cùng Sài Gòn Hoa tham khảo một vài cách bố trí chậu cây hoa cảnh ngay trước cửa nhà sao cho ấn tượng nhất nhé!',
        },
        {
            title: '7 loại cây xanh để bàn đang được giới văn phòng ưa chuộng',
            date: '20/12/2015',
            time: '11:20:00 AM',
            comments: 0,
            img: 'news-list-0.png',
            description: 'Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa nhà luôn được đầu tư và trang trí khá bắt mắt. Cũng có thể nói đây là bộ mặt của ngôi nhà, là ấn tượng đầu tiên khi một vị khách ghé chơi nhà bạn đấy. Hãy cùng Sài Gòn Hoa tham khảo một vài cách bố trí chậu cây hoa cảnh ngay trước cửa nhà sao cho ấn tượng nhất nhé!',
        },
    ]
