- 
    const productsBreadcrumbItems = [
        {href: 'index.html', content: 'Home'},
        {content: 'Danh sách sản phẩm'}
    ]

- 
    const products = [
        {
            img: {
                name: 'spx2-5.png',
                alt: 'Cây Dạ Lam',
                hasHover: true,
            },
            title: 'Cây Dạ Lam',
            description: 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
            stars: 4.5,
            price: {
                now: '250.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-15.png',
                alt: 'Cây Danh Dự',
                hasHover: true,
            },
            title: 'Cây Danh Dự',
            description: 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
            stars: 4.5,
            price: {
                now: '250.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-4.png',
                alt: 'Cây chân chim',
                hasHover: true,
            },
            title: 'Cây chân chim',
            description: 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
            stars: 4.5,
            price: {
                now: '250.000 đ',
                pre: '250.000 đ',
                hasHover: true,
            },
        },
        {
            img: {
                name: 'spx2-11.png',
                alt: 'Cây cọ ta',
                hasHover: true,
            },
            title: 'Cây cọ ta',
            description: 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
            stars: 4.5,
            price: {
                now: '250.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-6.png',
                alt: 'Cây dứa nhỏ',
                hasHover: true,
            },
            title: 'Cây dứa nhỏ',
            description: 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
            stars: 4.5,
            price: {
                now: '250.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-3.png',
                alt: 'Cây đa búp đỏ',
                hasHover: true,
            },
            title: 'Cây đa búp đỏ',
            description: 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
            stars: 4.5,
            price: {
                now: '1.000.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-4.png',
                alt: 'Cây chân chim',
                hasHover: true,
            },
            title: 'Cây chân chim',
            description: 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
            stars: 4.5,
            price: {
                now: '250.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-6.png',
                alt: 'Cây dứa nhỏ',
                hasHover: true,
            },
            title: 'Cây dứa nhỏ',
            description: 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
            stars: 4.5,
            price: {
                now: '250.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-11.png',
                alt: 'Cây cọ ta',
                hasHover: true,
            },
            title: 'Cây cọ ta',
            description: 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
            stars: 4.5,
            price: {
                now: '250.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-5.png',
                alt: 'Cây Dạ Lam',
                hasHover: true,
            },
            title: 'Cây Dạ Lam',
            description: 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
            stars: 4.5,
            price: {
                now: '500.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-15.png',
                alt: 'Cây Danh Dự',
                hasHover: true,
            },
            title: 'Cây Danh Dự',
            description: 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
            stars: 4.5,
            price: {
                now: '850.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-6.png',
                alt: 'Cây dứa nhỏ',
                hasHover: true,
            },
            title: 'Cây dứa nhỏ',
            description: 'Cây Ngọc ngân là loại cây dành cho tình yêu! Đây là món quà bất ngờ để bạn tặng "người ấy". Ngọc ngân (Valentine) không chỉ đẹp ở phiến lá xanh đốm trắng.',
            stars: 4.5,
            price: {
                now: '250.000 đ',
                pre: '250.000 đ'
            },
        },
    ]
