-
    const categories = [
        {
            name: 'Cây chậu treo',
            amount: '10'
        },
        {
            name: 'Cây có hoa',
            amount: '5',
            selected: true,
        },
        {
            name: 'Cây dây leo',
            amount: '0'
        },
        {
            name: 'Cây để bàn',
            amount: '0'
        },
        {
            name: 'Cây may mắn',
            amount: '0'
        },
        {
            name: 'Cây trang trí',
            amount: '0'
        },
        {
            name: 'Cây nội thất',
            amount: '0'
        },
    ]
-
    const prices = [
        {
            from: '200.000',
            to: '400.000'
        },
        {
            from: '400.000',
            to: '600.000'
        },
        {
            from: '600.000',
            to: '800.000'
        },
        {
            from: '800.000',
            to: '1.000.000'
        },
        {
            from: '1.000.000',
            to: '2.000.000'
        },
    ]
-
    const colors = [
        {
            name: 'Xanh cây',
            color: 'android-green',
        },
        {
            name: 'Đỏ cam',
            color: 'chinese-orange',
        },
        {
            name: 'Tím',
            color: 'dark-orchid',
        },
        {
            name: 'Xanh trời',
            color: 'blueberry',
        },
        {
            name: 'Vàng',
            color: 'gargoyle-gas',
        },
        {
            name: 'Hồng',
            color: 'light-carmine-pink',
        },
    ]
