-
    const productDetailBreadcrumbItems = [
        {content: 'Home', href: 'index.html'},
        {content: 'Cây Dạ Lam'},
    ]
-
    const productImages = [
        'spx2-1.png',
        'spx2-2.png',
        'spx2-3.png',
        'spx2-4.png',
        'spx2-5.png',
        'spx2-6.png',
    ]
-
    const productTabs = [
        {
            title: 'Thông tin sản phẩm',
            href: '#',
        },
        {
            title: 'Khách hàng đánh giá',
            href: '#',
        },
        {
            title: 'Thẻ tag',
            href: '#',
        }
    ]
- 
    const sameProducts = [
        {
            img: {
                name: 'spx2-15.png',
                alt: 'Cây cọ Nhật',
                hasHover: true,
            },
            title: 'Cây cọ Nhật',
            stars: 4.5,
            price: {
                now: '250.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-12.png',
                alt: 'Cây Hồng Môn',
                hasHover: true,
            },
            title: 'Cây Hồng Môn',
            stars: 4.5,
            price: {
                now: '250.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-11.png',
                alt: 'Cây phát lộc',
                hasHover: true,
            },
            title: 'Cây phát lộc',
            stars: 4.5,
            price: {
                now: '250.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-2.png',
                alt: 'Cây Kim Ngân',
                hasHover: true,
            },
            title: 'Cây Kim Ngân',
            stars: 4.5,
            price: {
                now: '250.000 đ',
                pre: '250.000 đ'
            },
        },
    ]
