- 
    const promotionalProducts = [
        {
            img: {
                name: 'spx2-15.png',
                alt: 'Cây Danh Dự',
                hasHover: true,
            },
            title: 'Cây Danh Dự',
            stars: 4.5,
            price: {
                now: '475.000 đ',
                pre: '250.000 đ'
            },
            tag: {
                content: '-25%',
                color: 'jasper'
            },
        },
        {
            img: {
                name: 'spx2-12.png',
                alt: 'Cây dứa nhỏ',
                hasHover: true,
            },
            title: 'Cây dứa nhỏ',
            stars: 4.5,
            price: {
                now: '668.000 đ',
                pre: '250.000 đ'
            },
            tag: {
                content: '-10%',
                color: 'jasper'
            }
        },
        {
            img: {
                name: 'spx2-11.png',
                alt: 'Cây cọ ta',
                hasHover: true,
            },
            title: 'Cây cọ ta',
            stars: 4.5,
            price: {
                now: '770.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-2.png',
                alt: 'Cây Dạ Lam',
                hasHover: true,
            },
            title: 'Cây Dạ Lam',
            stars: 4.5,
            price: {
                now: '555.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-8.png',
                alt: 'Cây Danh Dự',
                hasHover: true,
            },
            title: 'Cây Danh Dự',
            stars: 4.5,
            price: {
                now: '780.000 đ',
                pre: '250.000 đ'
            },
        },
        {
            img: {
                name: 'spx2-1.png',
                alt: 'Cây dứa nhỏ',
                hasHover: true,
            },
            title: 'Cây dứa nhỏ',
            stars: 4.5,
            price: {
                now: '680.000 đ',
                pre: '250.000 đ'
            },
        },
    ]
