- 
    const signInBreadcrumbItems = [
        {href: 'index.html', content: 'Home'},
        {content: 'Đăng nhập'}
    ]

-
    const signInFields = [
        {
            label: 'Email của bạn',
            name: 'email',
            type: 'email',
        },
        {
            label: 'Mật khẩu',
            name: 'password',
            type: 'password',
        }
    ]
