-
    const signUpBreadcrumbItems = [
        {content: 'Home', href: 'index.html'},
        {content: 'Đăng ký'},
    ]
-
    const userFields = [
        {
            label: 'Họ và tên',
            type: 'text',
            name: 'fullname',
        },
        {
            label: 'Số ĐT',
            type: 'phonenumber',
            name: 'phonenumber',
        },
        {
            label: 'Địa chỉ email',
            type: 'email',
            name: 'email',
        },
        {
            label: 'Website của bạn',
            type: 'text',
            name: 'your-website',
        },
    ]
- 
    const accountFields = [
        {
            label: 'Mật khẩu',
            type: 'password',
            name: 'password',
        },
        {
            label: 'Nhập lại mật khẩu',
            type: 'password',
            name: 'repassword',
        },
    ]
