mixin bannerMiddle 
    .container
        .banner-middle.position-relative.w-100
            .banner-middle__content.position-absolute.text-white.text-uppercase.text-center.border.border-3.border-white.d-inline-block
                span.display-46px.d-block.fw-bold Sương rồng 
                span.display-67px.d-block.fw-bold Đà Lạt
