.short-shop-info {
    &__text {
        width: 326px;
        line-height: 23px;
        margin-bottom: 20px;

        @include media-breakpoint-down(xl) {
            width: 100%;
            margin-bottom: 57px;
        }
    }

    &__contact {
        line-height: 23px;

        i {
            margin-right: 10px;
        }
    }
}
