$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Light.ttf);
    font-weight: $font-weight-light;
}

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Regular.ttf);
    font-weight: $font-weight-regular;
}

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Medium.ttf);
    font-weight: $font-weight-medium;
}

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Bold.ttf);
    font-weight: $font-weight-bold;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(../assets/fonts/RobotoSlab-Regular.ttf);
    font-weight: $font-weight-regular;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(../assets/fonts/RobotoSlab-Bold.ttf);
    font-weight: $font-weight-bold;
}

@font-face {
    font-family: 'HLTGulyesaScript';
    src: url(../assets/fonts/HLTGulyesaScript.ttf);
}

$primary-font-family: 'Arial';
$font-family-roboto: 'Roboto', sans-serif;
$font-family-robotoslab: 'Roboto Slab', sans-serif;
$font-family-gulyesa: 'HLTGulyesaScript', serif;

$fa-font-path: "../assets/fonts/webfonts";

$taupe-gray-color: #898989;
$bright-gray-color: #ebebeb;
$shiny-shamrock-color: #59B586;
$pure-gray-color: #7D7D7D;
$raisin-black-color: #202020;
$md-sea-green-color: #36a66c;
$green-sheen-color: #68BA8F;
$dark-charcoal-color: #313131;
$philippine-silver-color: #b7b7b7;
$outer-space-color: #494949;
$grullo-color: #434343;
$chinese-silver-color: #cccccc;
$chinese-white-color: #e1e1e1;
$amber-color: #febf01;
$davy-grey-color: #555555;
$pure-red-color: #ed1c24;
$spanish-gray-color: #959595;
$jasper-color: #D64046;
$android-green-color: #98cb4a;
$chinese-orange-color: #f76d3c;
$dark-orchid-color: #913ccd;
$blueberry-color: #5481e6;
$gargoyle-gas-color: #F7D842;
$light-carmine-pink-color: #F15F74;
$cultured-color: #F7F7F7;
$silver-sand-color: #c2c2c2;
$anti-flash-white-color: #f3f3f3;
$cinnabar-color: #D94335;
$han-blue-color: #5a7cd3;
$blue-yonder-color: #4E6BBB;
$manatee-color: #9197A3;
$electric-blue-color: #1a95db;
$light-gray-color: #d5d3d6;
$granite-gray-color: #636363;
$jet-color: #363636;
