.contact {
    margin-top: 78px;
    margin-bottom: 120px;

    @include media-breakpoint-down(lg) {
        margin-top: 35px;
        margin-bottom: 80px;
    }

    &__map {
        width: 100%;
        height: 489px;
        margin-bottom: 65px;

        @include media-breakpoint-down(lg) {
            margin-bottom: 35px;
        }
    }

    &__content {
        gap: 72px;

        @include media-breakpoint-down(lg) {
            gap: 35px;
        }
    }

    &__col {
        width: calc(50% - 72px / 2);

        @include media-breakpoint-down(md) {
            width: 100%;
        }

        &:nth-child(2) {
            @include media-breakpoint-down(md) {
                order: -1;
            }
        }

        .short-shop-info {
            color: $taupe-gray-color;

            &__text {
                width: 100%;
                margin-left: 7px;
                margin-top: 33px !important;
                margin-bottom: 39px;
            }

            &__contacts {
                margin-left: 7px;
            }
        }
    }
}
