mixin checkbox(name)
    .checkbox&attributes(attributes) 
        input.checkbox__input.z-3.position-relative(type="checkbox", name=name)
        span.checkbox__checkmark.position-absolute.border.border-1.border-pure-gray
