mixin formTextarea(name, placeholder, rows = 10, cols)
    textarea.form-textarea.form-control.rounded-0.border.border-1.border-chinese-silver(name=name, rows=rows, placeholder=placeholder)&attributes(attributes)
