mixin formField(label, name, type = "text", placeholder = "", isRequired = false)
    .form-field&attributes(attributes)
        label.form-field__label.text-jet.display-12px(for=name)
            span= label
            if isRequired 
                span.text-pure-red &nbsp;*
        +formInput(type, name, placeholder, isRequired)
