mixin shortShopInfo(text)
    .short-shop-info.display-12px&attributes(attributes)
        +logo.mw-100
        p.short-shop-info__text.mt-3= text
        .short-shop-info__contacts 
            .short-shop-info__contact 
                i.fa-solid.fa-mobile-screen.text-md-sea-green
                span Điện thoại (84-4) 66.558.868
            .short-shop-info__contact
                i.fa-regular.fa-envelope.text-md-sea-green
                span Email: info@dkt.com.vn
