mixin starsRating 
    .stars-rating.text-amber&attributes(attributes)
        i.fa-solid.fa-star
        i.fa-solid.fa-star
        i.fa-solid.fa-star
        i.fa-solid.fa-star
        i.fa-solid.fa-star-half-stroke
