extends ../layouts/default-layout

include ../partials/products-sidebar

block header 
    +header('Sản phẩm')

block content 
    +breadcrumb(productsBreadcrumbItems)
    .products.container 
        .row 
            .col.col-12.col-md-4.col-lg-3 
                +productsSidebar
            .col.col-12.col-md-8.col-lg-9.d-flex.flex-column.align-items-sm-end.align-items-center
                img.banner.banner--products.object-fit-cover.img-fluid(src="./assets/images/products-banner.png", alt="Products Banner")
                +listActions
                .products__list.row 
                    each product in products 
                        .col.col-12.col-sm-6.col-lg-4 
                            +productCard(product.img, product.title, product.price, product.tag)
                +pagination(4)
