include ../partials/header
include ../partials/footer
include ../components/breadcrumb
include ../components/form-title
include ../components/form-input
include ../components/form-field
include ../components/checkbox
include ../components/product-card
include ../components/short-shop-info 
include ../components/stars-rating 
include ../components/title
include ../components/news-title
include ../components/news-caption
include ../components/medias-share
include ../components/list-actions
include ../components/sidebar-list
include ../components/sidebar-title
include ../components/pagination
include ../components/product-actions
include ../components/news-card
include ../base/variables/header
include ../base/variables/footer
include ../base/variables/banner
include ../base/variables/best-seller-products
include ../base/variables/featured-products
include ../base/variables/promotional-products
include ../base/variables/index
include ../base/variables/products-list
include ../base/variables/basket
include ../base/variables/news-list
include ../base/variables/news-sidebar
include ../base/variables/product-detail
include ../base/variables/medias-share
include ../base/variables/products-sidebar
include ../base/variables/new-products
include ../base/variables/news
include ../base/variables/sign-in

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Green Shop - #{title}
        link(rel="stylesheet" href="./css/styles.css")
    body 
        block header
        main 
            block content 
        +footer
        script(src="./js/all.js") 
